div {
  width: 100%;
}

.attribution {
  display: block;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: rgb(62, 82, 163);
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url('../images/bg-intro-mobile.png');
  background-color: hsl(0, 100%, 74%);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  align-items: center;
  padding: 9vh 0;
}

.text-container {
  margin-bottom: 40px;
  padding: 25px;
}

.heading {
  font-weight: 600;
  line-height: 1;
  font-size: 28px;
}

.text {
  font-size: 1em;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-btn {
  text-decoration: none;
  display: inline-block;
  width: 90%;
  margin-bottom: 20px;
  padding: 17px 50px;
  border: 1px solid hsl(248, 32%, 49%);
  border-radius: 10px;
  box-shadow: 0 8px rgba(0, 0, 0, 0.15);
  background-color: hsl(248, 32%, 49%);
  color: white;
  font-size: 1em;
  word-wrap: normal;
  transition: all 0.2s ease-in-out;
}
.pricing-btn:hover {
  cursor: pointer;
  background-color: hsla(248, 32%, 49%, 0.856);
  border-color: hsla(248, 32%, 49%, 0.856);
  box-shadow: 0 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.seven-day-span {
  font-weight: bold;
}

.form-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90%;
  border-radius: 10px;
  padding: 25px 0;
  box-shadow: 0 8px rgba(0, 0, 0, 0.15);
}

.label {
  display: none;
}
.input {
  width: 90%;
  max-width: 90%;
  margin: 12px 0;
  padding: 16px 10px;
  font-weight: bold;
  border: 1px solid hsl(249, 16%, 83%);
  border-radius: 5px;
}
.input.invalid {
  border: 2px solid hsl(0, 100%, 74%);
}

.error-text {
  display: none;
  font-size: 10px;
  text-align: right;
  font-style: italic;
  margin: 0 3vw 0 0;
  color: hsl(0, 100%, 74%);
}

.error-text.invalid {
  display: block;
}

.form-btn {
  width: 90%;
  max-width: 90%;
  margin: 10px 0 15px 0;
  padding: 16px 10px 11px 10px;
  border: 1px solid hsl(154, 59%, 51%);
  border-radius: 5px;
  background-color: hsl(154, 59%, 51%);
  color: white;
  box-shadow: 0 4px hsla(154, 60%, 37%, 0.774);
  text-transform: uppercase;
  font-size: 1em;
  transition: all 0.2s ease-in-out;
}
.form-btn:hover {
  cursor: pointer;
  background-color: hsla(154, 59%, 51%, 0.856);
  border-color: hsla(154, 59%, 51%, 0.856);
  box-shadow: 0 6px hsla(154, 60%, 37%, 0.74);
  transform: translateY(-5px);
}

.disclaimer {
  font-size: 10px;
  color: hsl(246, 25%, 77%);
}

.terms {
  text-decoration: none;
  font-weight: bold;
  color: hsl(0, 100%, 74%);
}

@media (min-width: 900px) {
  body {
    height: 100vh;
    flex-direction: row;
    background-image: url('../images/bg-intro-desktop.png');
    padding: 50px 9vw;
    align-items: center;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100vw;
  }

  .text-container {
    text-align: left;
    margin-right: 50px;
  }

  .heading {
    font-size: 50px;
  }
}
